# enable SSL communication with DigitalOcean
SSL_CERT_FILE=/path/to/your/ca-bundle.crt

CLOUDN_API_KEY="XXXXXXXXXXXXXXX"
CLOUDN_SEC_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

RSYNC_FOLDER_PATH=/path/to/folder/to/be/synced